.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  // width: 250px !important;
  height: 450px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.swiper-container {
  margin: 0px 10px 0px 10px;
}
.nav-swiper {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  button {
    padding: 0px;
    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
    }
  }
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.image-thumbnail {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.fullscreen-overlay {
  visibility: hidden;
  position: fixed;
}
.fullscreen-overlay.active {
  visibility: visible;
  position: fixed;
  overscroll-behavior: contain;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: visibility 0.5s;
}

.fullscreen-container {
  visibility: hidden;
  // display: none;
  max-width: 0%;
  max-height: 0%;
  transform: scale(0, 0);
}

.fullscreen-container.active {
  display: block;
  visibility: visible;
  position: relative;
  max-width: 90%;
  max-height: 90%;
  transform: scale(1, 1);
  transition: all 0.5s;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  svg {
    color: #ffffff;
  }
}
.scale-minus-button {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  bottom: 1px;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  svg {
    color: #ffffff;
  }
}
.scale-plus-button {
  position: absolute;
  transform: translate(-50%);
  left: 40%;
  bottom: 1px;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  svg {
    color: #ffffff;
  }
}
.scale-reset-button {
  position: absolute;
  transform: translate(-50%);
  left: 60%;
  bottom: 1px;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  svg {
    color: #ffffff;
  }
}

.prev-button {
  display: none;
  background-color: transparent;
  outline: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50px;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  svg {
    color: #ffffff;
    width: 25px;
    height: 25px;
  }
}
.prev-button.active {
  display: block;
  background-color: transparent;
  outline: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50px;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  svg {
    color: #ffffff;
    width: 25px;
    height: 25px;
  }
}
.next-button {
  display: none;
  background-color: transparent;
  outline: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 20px;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  svg {
    color: #ffffff;
    width: 25px;
    height: 25px;
  }
}
.next-button.active {
  display: block;
  background-color: transparent;
  outline: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 20px;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  svg {
    color: #ffffff;
    width: 25px;
    height: 25px;
  }
}

.prev-swiper {
  display: none;
}
.prev-swiper.active {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
  width: 60px;
  height: 450px;
  button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    svg {
      color: #ffffff;
      width: 25px;
      height: 25px;
    }
  }
}

.swiper-button-prev {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
  width: 60px;
  height: 450px;
  background-color: #00000040;
  button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    svg {
      color: #ffffff;
      width: 25px;
      height: 25px;
    }
  }
}
.swiper-button-prev.swiper-button-disabled {
  display: none;
}

.next-swiper {
  display: none;
}

.next-swiper.active {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 99;
  width: 60px;
  height: 450px;
  button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    svg {
      color: #ffffff;
      width: 25px;
      height: 25px;
    }
  }
}

.swiper-button-next {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 99;
  width: 60px;
  height: 450px;
  background-color: #00000040;
  button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    svg {
      color: #ffffff;
      width: 25px;
      height: 25px;
    }
  }
}

.swiper-button-next.swiper-button-disabled {
  display: none;
}
